
.List {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  max-width: 50%;
  margin-top: 2%;
  margin-left: 25%;
}

.listCell {
  border: solid 1px #000000;
  border-radius: 4px;
  background-color: #F1F1F1!important;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5px;
  min-width: 400px;
  box-shadow: 2px 2px #888888!important;
  text-align: left;
  max-width: 400px;
}

.spacer {
  width:10px!important;
  height:10px!important;
  padding-left:10px!important;
  padding-right:0!important;
}

.smallStyle {
  margin-top: -20px!important;
  margin-left: calc(100% - 140px)!important;
  min-width: 140px!important;
  font-size: 12px!important;
}

.containerStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleStyle {
  border: solid 1px #000000!important;
  border-radius: 30px!important;
  width: 50px!important;
  height: 50px!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  font-size: 30px!important;
  box-shadow: 2px 2px #888888!important;
  background-color: #F1F1F1!important;
  padding-left:20px!important;
  padding-right:20px!important;
}

@media (max-width:768px) {
  .MuiTypography-h1-113 {
      font-size: 40px!important;
  }
  .listCell {
      min-width: 350px!important;
  }
  .Connect-App--commentForm-3 {
      min-width: 300px!important;
  }
}

@media (max-width:600px) {
  .Connect-App--commentForm-3 {
    left: 47%!important;
  }
}

@media (max-width:400px) {
  .listCell {
      min-width: 300px!important;
  }
  .Connect-App--commentForm-3 {
      min-width: 300px!important;
  }
}